figure{
    width: max-content;
    margin: auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px;
}
img{
    width: 300px;
}
button{
    background-color: rgb(250, 246, 246);
}
button:hover{
    background-color: rgb(77, 150, 232);
}